version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DSN: postgres://postgres:12345@db:5432/my_local_db?sslmode=disable
      ENV: local
      FILL: "true"
      MIGRATIONS: "file://migrations"
      PORT: "8080"
    ports:
      - "8081:8080"
    depends_on:
      db:
        condition: service_healthy  

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5434:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 3s
      retries: 5

volumes:
  pgdata: